PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nhtsa

NHTSA_BASE_URL=https://vpic.nhtsa.dot.gov/api/vehicles
NHTSA_CONCURRENCY=10
NHTSA_TIMEOUT_MS=15000
NHTSA_RETRIES=3

DB_SYNCHRONIZE=true